<!-- Bootstrap core JavaScript-->
<script src="{{ site.baseurl }}/js/jquery-1.10.2.min.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/js/hc.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-T1QB8R2DDF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-T1QB8R2DDF');
</script>
